<h1>Bitcoin</h1>
<div *ngIf="getCurrentPrice()">
  <hr/>
  <div>
    <input type="button" value="Atualizar" (click)="update()">
    <br/>
    <span>Atualizado em {{this.bitcoinService.lastUpdate}}</span>
  </div>
  <hr/>
  <h2>Data/hora</h2>
  <div>{{this.getCurrentPrice().time.updated}}</div>
  <h2>Taxas</h2>
  <h3>{{this.getCurrentPrice().bpi.USD.description}}</h3>
  <div>
    <span [innerHTML]="this.getCurrentPrice().bpi.USD.symbol"></span> 
    {{this.getCurrentPrice().bpi.USD.rate}}
  </div>
  <h3>{{this.getCurrentPrice().bpi.BRL.description}}</h3>
  <div>
    <span [innerHTML]="this.getCurrentPrice().bpi.BRL.symbol"></span> 
    {{this.getCurrentPrice().bpi.BRL.rate}}
  </div>
  <hr/>
  <table border="l">
    <tr>
      <th>Data/hora</th>
      <th>USD</th>
      <th>BRL</th>
    </tr>
    <tr *ngFor="let price of this.bitcoinService.updateList">
      <td>{{price.timestamp | date:"full"}}</td>
      <td>{{price.USD | currency}}</td>
      <td>{{price.BRL | currency}}</td>
    </tr>
  </table>
</div>